HPC Carpentry
Mostly on Fridays (with some additional sessions on other days)
<br>
Terminal fundamentals for HPC users
<a href="https://hpc-carpentry.github.io/hpc-shell/">https://hpc-carpentry.github.io/hpc-shell/</a>
<br>
Intro to HPC
<a href="http://www.learnhpc.eu/2021-02-hpc-intro/">http://www.learnhpc.eu/2021-02-hpc-intro/</a>
<a href="https://carpentries-incubator.github.io/hpc-intro/">https://carpentries-incubator.github.io/hpc-intro/</a>
<br>
Version Control with Git
<a href="http://swcarpentry.github.io/git-novice/">http://swcarpentry.github.io/git-novice/</a>
<br>
Text Processing and Parallel Processing
<a href="https://deapsecure.gitlab.io/deapsecure-lesson01-hpc/">https://deapsecure.gitlab.io/deapsecure-lesson01-hpc/</a>
GNU Parallels, SLURM
<br>
HPC Python
<a href="https://hpc-carpentry.github.io/hpc-python/">https://hpc-carpentry.github.io/hpc-python/</a>
<br>
HPC Parallelization for Novices
<a href="http://www.hpc-carpentry.org/hpc-parallel-novice/">http://www.hpc-carpentry.org/hpc-parallel-novice/</a>
<br>
Parallel Programming in Python
<a href="https://carpentries-incubator.github.io/lesson-parallel-python/">https://carpentries-incubator.github.io/lesson-parallel-python/</a>
<br>
HPC Chapel
<a href="https://hpc-carpentry.github.io/hpc-chapel/">https://hpc-carpentry.github.io/hpc-chapel/</a>
<br>
We intend to cover a bit more material compared to the previous run of the workshop,
<a href="https://annajiat.github.io/2021-02-14-bracu-online/">https://annajiat.github.io/2021-02-14-bracu-online/</a>
